@import 'base/vars';

.tabs {
  display: block;
  
  &__item {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    position: relative;
    height: 0;
    overflow: hidden;
    transition: $transition-time transform $transition-fluid,
                $transition-time opacity $transition-fluid;

    &--active {
      height: auto;
      opacity: 1;
      transform: none;
    }
  }
}
