@import 'base/vars';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50vh - 200%));
  width: 100%;
  min-width: 300px;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  z-index: 100;
  opacity: 0;
  transition: $transition-time transform $transition-fluid,
              $transition-time opacity $transition-fluid;

  &--active {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &__wrapper {
    position: relative;
  }

  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    border: 0;
    top: 0;
    right: 0;
    outline: 0;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 5%;
      width: 90%;
      height: 1px;
      background: black;
    }

    &:after { transform: rotate(45deg); }
    &:before { transform: rotate(-45deg); }
  }
}
